#img-logo {
  width: 9%;
  height: 9%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  text-align: center;
  font-size: 100px;
}
ul {
  margin-left: 35%;
  margin-top: 0%;
}
ul li {
  font-size: 15px;
  display: inline-block;
  list-style: none;
  margin-left: 20px;
}
ul li a {
  text-decoration: none;
  color: #000;
}
.container {
  background-color: #f2d7bd;
  height: 720px;
  width: 100%;
}
#img-blend {
  width: 65%;
  float: right;
  margin-top: 50px;
  margin-right: 30px;
}
#text-img {
  width: 400px;
  margin-left: 30px;
  margin-top: 150px;
}
#title-h2-1 {
  font-size: 40px;
  margin-top: 150px;
  text-align: center;
}
.column {
  float: left;
  margin-left: 100px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.img-grid-view {
  width: 380px;
  
}
.img-info {
  height: 100px;
  width: 100px;
  background-color: #f0c094;
}
#title-h2-2 {
  font-size: 40px;
  margin-top: 150px;
  text-align: center;
}
#p2-container {
    height: 640px;
    width: auto;
    background-image: url(./img/p2-container.jfif);
}
#french-img {
    display: block;
    padding: auto;
    margin-top: 30px;
    width: 35%;
    margin-left: 50px;
}
#text-img-02 {
    width: 40%;
    float: right;
    margin-top: 6%;
    margin-right: 10%;
}
.footer {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    background-color: #f7d9bc;
    padding: 10px;
}
.footer a {
    color: #000;
    text-decoration: none;
}
